.container{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-image: url("../images/wall.png");
    
    align-items: center;
    height: 100vh;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 4rem 1rem ;
    
}

.menu-lives{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    width: 30%;
}
.menu-score h2:nth-child(2),
.menu-time h2:nth-child(2){
    font-size: 1.2rem;
    margin-top: 1rem;
}

.menu-lives h2{
    font-size: 1rem;
    margin-left: 0.3rem;
}

.player{
    width: 50%;
}


/* vai deixar em linhas  */
.panel{
    
    /* margin: auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10%;
    

}

.panel-row {
    width: 100%;
  }

.square{
    height: 12vh;
    
    border: 1px solid #000000;
    background-color: #1aeaa5;
}

.enemy{
    background-image: url('../images/actor-wreck-it-ralph-447066_large.jpg');
    background-size: cover;
    background-position: top;
}