body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #caebe8;
    user-select: none;

}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #59aacf;
    /* background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%); */
    padding: 40px 60px;
    border-radius: 1em;
    box-shadow: 10px 10px 18px -3px rgba(139, 174, 250, 0.90);
    -webkit-box-shadow: 10px 10px 18px -3px rgba(5, 97, 151, 0.4);
    -moz-box-shadow: 10px 10px 18px -3px rgba(7, 128, 158, 0.9);

}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: underline;
    text-shadow:1px 1px 10px #035b85;
}

.reset {
    text-transform: uppercase;
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
    border-radius: 1em;

}

.reset:active {
    color: #5eafe6;
    background-color: #033064;
}

.game {
    width: 430px;
    height: 430px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
    border-radius: 0.2em;
    box-shadow: 10px 10px 18px -3px rgba(139, 174, 250, 0.90);
    -webkit-box-shadow: 10px 10px 18px -3px rgba(5, 97, 151, 0.4);
    -moz-box-shadow: 10px 10px 18px -3px rgba(7, 128, 158, 0.9);

}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/OIP.jpeg");
    background-size: contain;
    transition: 0.25;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 0.2em;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after {
    transform: rotateY(180deg);
}

@media screen and (max-width: 576px) {


    .game {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        height: auto;
    }

    .container {
        padding: 0;
        margin: 5%;
    }

    h2 {

        padding-top: 20px;
    }

    .reset {
        width: 80%;
        margin-bottom: 5%;
    }
}